# Secrets
.env
.env.*
!.env.example

# Virtual environment
.venv/
venv/
env/

#demo material
Vesper_New_Location_Demo_Pack/

# Python cache
__pycache__/
*.py[cod]

# NiceGUI local state
.nicegui/

# PyCharm and VS Code
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db